# Configurações do Banco de Dados (PostgreSQL)
POSTGRES_USER=usuario_cofre
POSTGRES_PASSWORD=senha_cofre_123
POSTGRES_DB=cofre_digital_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Configurações do Cache (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=senha_redis_123

# Configurações de Mensageria (RabbitMQ)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Configurações de Segurança
CHAVE_MESTRA_KEK=sua_chave_secreta_de_32_bytes_aqui
JWT_SECRET=seu_segredo_jwt_aqui
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15

# Configurações da Aplicação
APP_ENV=desenvolvimento
LOG_LEVEL=info
